<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="app.css")}}">
</head>
<body>
    <h1>Michel Davies</h1>
    <p>My name is Michel Davies. I am currently pursuing a Computer Science degree with the ambition of being a Web Developer or a Network Administrator. My fascination with the field of computing arose from seeing how technology can change the world and my passion for traveling. In my spare time I play chess and cricket.I am interested in Web Development because it is field that is constantly changing which means I'll have the opportunity to interact with new tools and learn new skills. </p>
</body>
</html>